{% extends "layout.html" %}
{% block body %}
<script src="{{ url_for('dataimporter.static', filename='import.js') }}"></script>
<script src="{{ url_for('dataimporter.static', filename='progressbar.min.js') }}"></script>
<div class="container">
    <h1>CARTO data importer</h1>
    <div class="alert alert-warning" role="alert">
        <p>This tool is for importing into CARTO using the carto-etl Python library</p>
    </div>
    <div class="row conf">
        <div class="col-md-6 col-md-offset-3">
            {% from "_formhelpers.html" import render_field %}
            <form method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ render_field(form.base_url) }}
                {{ render_field(form.api_key) }}
                {{ render_field(form.table_name) }}
                {{ render_field(form.delimiter) }}
                {{ render_field(form.columns) }}
                {{ render_field(form.date_columns) }}
                {{ render_field(form.x_column) }}
                {{ render_field(form.y_column) }}
                {{ render_field(form.srid) }}
                {{ render_field(form.chunk_size) }}
                {{ render_field(form.max_attempts) }}
                {{ render_field(form.file_encoding) }}
                {{ render_field(form.force_no_geometry) }}
                {{ render_field(form.force_the_geom) }}
                {{ render_field(form.date_format) }}
                {{ render_field(form.datetime_format) }}
                {{ render_field(form.float_comma_separator) }}
                {{ render_field(form.float_thousand_separator) }}
                {{ render_field(form.csv_file) }}
                <input type="submit" class="btn btn-primary right" value="Submit" />
            </form>
        </div>
    </div>
</div>
{% endblock %}