@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

body {
    font-family: 'Open Sans'ยบ;
}

a,
h1,
h2 {
    color: #377ba8;
}

h1,
h2 {
    font-family: 'Montserrat';
    font-weight: 600;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

.flash {
    background: #cee5F5;
    padding: 0.5em;
    border: 1px solid #aacbe2;
}

.error {
    background: #f0d6d6;
    padding: 0.5em;
}

.right {
    float: right;
}

.pb-container {
    margin: 20px;
    width: 100%;
    height: 5px;
    position: relative;
}

.row.conf {
    margin-bottom: 50px;
}




/* FANCY COLLAPSE PANEL STYLES */

.fancy-collapse-panel .panel-default>.panel-heading {
    padding: 0;
}

.fancy-collapse-panel .panel-heading a {
    padding: 12px 35px 12px 15px;
    display: inline-block;
    width: 100%;
    background-color: #1785FB;
    color: #ffffff;
    position: relative;
    text-decoration: none;
}

.fancy-collapse-panel .panel-heading a:after {
    font-family: "FontAwesome";
    content: "\f056";
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: 400;
    top: 50%;
    line-height: 1;
    margin-top: -10px;
}

.fancy-collapse-panel .panel-heading a.collapsed:after {
    content: "\f055";
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    text-transform: uppercase;
    border-color: none;
    background: #1785FB;
    color: #fff;
}

.form-group label {
    padding: 10px;
}

.help-block {
    font-size: 80%;
}

input[type=checkbox] {
    width: 24px;
    height: 24px;
    content: "No";
}

input[type=checkbox]:checked {
    background-color: #1785FB;
    content: "Yes";
}

input[type=checkbox]+.help-block {
    margin-top: -20px;
    margin-left: 30px;
}

.js-fileButton {
    top: 26px;
}

#csv_file {
    margin-left: 5px;
}

.formError {
    opacity: 1;
}

.formError .formErrorContent {
    box-shadow: none;
    background-color: #F24440;
}

select.error,
textarea.error,
input.error,
.pb-info.failed {
    color: #F24440;
}

.pb-info.success {
    color: #1785FB;
}

.Header {
    margin-bottom: 15px;
}