<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Carto data importer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <h1>Carto data importer</h1>
            <div class="alert alert-warning" role="alert">
                <p>This tool is for importing into Carto using the Import API. It can chunk and parse your data in the event your data file exceeds our import limit. It will then call our SQL API to then Union, Cartodbfy and generate Overviews.</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% from "_formhelpers.html" import render_field %}
                    <form method="POST" enctype="multipart/form-data" onsubmit="refreshLocalStorage()">
                        {{ form.csrf_token }}
                        {{ render_field(form.carto_api_endpoint) }}
                        {{ render_field(form.carto_api_key) }}
                        {{ render_field(form.the_csv) }}
                        {{ render_field(form.row_limit) }}
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </form>
                    <pre><code>{{result}}</pre></code>

                </div>
            </div>
        </div>
        <script>
            var refreshLocalStorage = function () {
                localStorage.credentials = JSON.stringify({carto_api_endpoint: document.getElementsByName("carto_api_endpoint")[0].value, carto_api_key: document.getElementsByName("carto_api_key")[0].value});
            };
            if (localStorage.credentials) {
                var credentials = JSON.parse(localStorage.credentials);
            } else {
                var credentials = {carto_api_endpoint: "", carto_api_key: ""};
            }
            document.getElementsByName("carto_api_endpoint")[0].setAttribute("value", credentials.carto_api_endpoint);
            document.getElementsByName("carto_api_key")[0].setAttribute("value", credentials.carto_api_key);
        </script>
    </body>
</html>
